@model Traveling_Platform.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details Room</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoubleBedsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoubleBedsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleBedsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleBedsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BunkBedsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BunkBedsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBalcony)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBalcony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCookingEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCookingEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHotel)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary">
        <a asp-action="Index">Back to List</a>
    </button>
</div>
