@model IEnumerable<Traveling_Platform.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoubleBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingleBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BunkBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBalcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBathroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasCookingEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubleBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BunkBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBalcony)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBathroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCookingEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHotel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
