@model IEnumerable<Traveling_Platform.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>All Rooms</h1>
<br />
@if (User.IsInRole("Admin, HotelManager"))
{
    <button id="orasNou">
    <a asp-action="Create">New Room</a>
</button>}
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoubleBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SingleBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BunkBedsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBalcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBathroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasCookingEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubleBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BunkBedsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBalcony)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBathroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCookingEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHotel)
            </td>
            <td>
                    <button id="details">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </button>
                    @if (User.IsInRole("Admin"))
                    {
                        <button id="edit">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </button>
                        <button id="delete">
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </button>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
