@model Traveling_Platform.Models.Booking

<center>
    <h1>Please enter your booking details</h1><center />
    <br />
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                @using (Html.BeginForm(actionName: "Create", controllerName: "Bookings", method: FormMethod.Post))
                {
                    <input type="hidden" name="BookingDate" value="@DateTime.Now" />

                    @Html.Label("Checkin", "Checkin date")
                    <br />
                    @Html.TextBoxFor(m => m.Checkin, "{0:yyyy-MM-ddTHH:mm}", new { @type = "datetime-local", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Checkin, "", new { @class = "text-danger" })
                    <br />

                    @Html.Label("Checkout", "Checkout date")
                    <br />
                    @Html.TextBoxFor(m => m.Checkout, "{0:yyyy-MM-ddTHH:mm}", new { @type = "datetime-local", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Checkout, "", new { @class = "text-danger" })
                    <br />


                    <br />

                    <input type="hidden" name="IdUser" value="@ViewBag.UserId" />

                    <input type="hidden" name="IdHotel" value="@ViewBag.HotelId" />


                    <label>Select Room</label>
                    @Html.DropDownListFor(m => m.IdRoom, new SelectList(Model.Rooms, "Value", "Text"),
                "Select Room", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.IdRoom, null, new {@class = "text-danger"})
                    <br />

                    <br />

                    @*@if (User.IsInRole("Admin"))
                    {
                        <button id="edit" class="btn btn-success" type="submit">Add City</button>
                    }*@

                    <button class="btn btn-success" type="submit">Finalise your Booking</button>
                }
            </div>
        </div>
    </div>


