@model Traveling_Platform.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<style>
    .hidden {
        display: none;
    }
</style>

<h1>Booking Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd><br/>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkin)
        </dd>
        <br />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
        <br />
        <dt class="col-sm-2 hidden">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class="col-sm-10 hidden">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.name)
        </dd>
        <br />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>
</div>
<div>
    <button id="edit" >
        <a asp-action="Index">Back to List</a>
    </button>
</div>
