
<h1>All Bookings</h1>
<br/>

<br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Booking date</p>
                </th>
                <th>
                    <p>Checkin</p>
                </th>
                <th>
                    <p>Checkout</p>
                </th>
                <th>
                    <p>Email</p>
                </th>
                <th>
                    <p>Hotel</p>
                </th>
                <th>
                    <p>City</p>
                </th>
                <th>
                    <p>Room Type</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Lista)
            {
                <tr>
                    <td>
                    @item.bookdate
                    </td>
                    <td>
                        @item.checkin
                    </td>
                    <td>
                        @item.checkout
                    </td>
                    <td>
                        @item.email
                    </td>
                    <td>
                        @item.hotel
                    </td>
                    <td>
                        @item.city
                    </td>
                    <td>
                        @item.room
                    </td>
                    <td>


                    <button id="details">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </button>
                    @if (User.IsInRole("Admin"))
                    {
                        <button id="edit">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </button>
                        <button id="delete">
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </button>
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>

