@model Traveling_Platform.Models.City

<h2 class="text-center mt-5">Add a city</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "Create", controllerName: "Cities", method: FormMethod.Post))
            {
                @Html.Label("Name", "City Name")
                <br />
                @Html.TextBox("Name", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                <br />

                <br />


                <label>Select Country</label>
                @Html.DropDownListFor(m => m.stateTag, new SelectList(Model.State, "Value", "Text"),
            "Select Country", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.stateTag, null, new {@class = "text-danger"})
                <br />

                <br />


                <button id="add" class="btn btn-success" type="submit">Add City</button>
            }
        </div>
    </div>
</div>


