@model IEnumerable<Traveling_Platform.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>All Cities</h1>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateTag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stateTag)
            </td>
            <td>
                <button id="details">
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </button>
                @if (User.IsInRole("Admin")){
                   <button id="edit">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                   </button>
                   <button id="delete">
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </button>
                }
            </td>
        </tr>
}
    </tbody>

    <button id="orasNou">
        <a asp-action="Create">New City</a>
    </button>
    <br/><br/>
</table>

