@model List<Traveling_Platform.Models.ReviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.nume - Reviews</h1>
<br/>
<p>
    <button id="tari"><a asp-action="Create">Create New</a></button>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
               <p>Text</p>
            </th>
            <th>
                <p>Time</p>
            </th>
            <th>
                <p>ClientName</p>
            </th>
            <th>
                <p>HotelName</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.revs) {
        <tr>
            <td>
                <p>@item.Text</p>
            </td>
            <td>
                <p>@item.Time</p>
            </td>
            <td>
                <p>@item.ClientName</p>
            </td>
            <td>
                <p>@item.HotelName</p>
            </td>
            <td>
                    @if (User.IsInRole("Admin, HotelManager"))
                    {
                        <button id="edit">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        </button>
                    }
                    <button id="delete">  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </button>
                </td>
        </tr>
}
    </tbody>
</table>
