@model Traveling_Platform.Models.ApplicationUser

@if (User.IsInRole("Admin"))
{
<h2> Details about @Model.UserName :</h2>
}
else
{
<h2> Personal Data :</h2>
}
<br/>
<h4>Email: @Model.Email</h4>
<h4>Role: @ViewBag.Role</h4>
<h4>Phone Number: @Model.PhoneNumber</h4>
<h4>First name: @Model.FirstName</h4>
<h4>Last name: @Model.LastName</h4><br/>
<button id="edit">
    <a href="/ApplicationUsers/Edit/@Model.Id">Edit personal data</a>
</button>


@if (User.IsInRole("Admin"))
{
    <button id="edit">
        <a href="/ApplicationUsers/Delete/@Model.Id">Delete user</a>
    </button>
    <br />

    @if (ViewBag.Role == "User")
    {
        <button id="edit">
            <a href="/ApplicationUsers/MakeManager/@Model.Id">Make Manager</a>
        </button>
        <button id="edit">
            <a href="/ApplicationUsers/MakeReceptionist/@Model.Id">Make Receptionist</a>
        </button>
    }
    else if (ViewBag.Role == "HotelReceptionist")
    {
        <button id="edit">
            <a href="/ApplicationUsers/MakeManager/@Model.Id">Make Manager</a>
        </button>
        <button id="edit">
            <a href="/ApplicationUsers/MakeUser/@Model.Id">Make User</a>
        </button>
    }
    else if (ViewBag.Role == "HotelManager")
    {
        <button id="edit">
            <a href="/ApplicationUsers/MakeReceptionist/@Model.Id">Make Receptionistr</a>
        </button>
        <button id="edit">
            <a href="/ApplicationUsers/MakeUser/@Model.Id">Make User</a>
        </button>
    }
    <br />
}

