@model Traveling_Platform.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.Hotel.Name</h1>
<br />
<div>
    <h4>Description: @ViewBag.Hotel.Description</h4>
    <h4>Contact: @ViewBag.Hotel.PhoneNumber</h4>
    <h4>City: @ViewBag.Hotel.CityName</h4>
    <br />
    <img src="@("data:image/png;base64," + ViewBag.PictureBase64)" alt="Hotel Picture" />

</div>

<div>
    <br />
    @using (Html.BeginForm(actionName: "Create", controllerName: "Reviews", method: FormMethod.Post))
    {
        <input type="hidden" name="IdHotel" value="@ViewBag.Hotel.Id" />

        <input type="hidden" name="IdClient" value="@ViewBag.Hotel.us" />

        @Html.Label("Text", "Message")
        <br />
        @Html.TextBox("Text", null, new {@class = "form-control"})
        <br />
        <button id="edit" type="submit">Send your review!</button>
    }

    <button id="edit">
        <a asp-controller="Reviews" asp-action="Index" asp-route-id="@ViewBag.Hotel.Id">View this hotel's reviews</a>
    </button>

</div>


@*
    @using (Html.BeginForm(actionName: "Create", controllerName: "Bookings", method: FormMethod.Post))
    {

        @Html.Label("CheckInDate", "Check In Date")
        <br />
        @Html.TextBox("CheckInDate", null, new {@class = "form-control"})
        <br />

        @Html.Label("CheckOutDate", "Check Out Date")
        <br/>
        @Html.TextBox("CheckOutDate", null, new {@class = "form-control"})
        <br/>

        <input type="hidden" name="IdHotel" value="@ViewBag.Hotel.Id" />
        <input type ="hidden" name="IdUser" value="@ViewBag.Hotel.us" />
        ///aici punem IdCamera
*@
<button id="edit">
    <a asp-controller="Bookings" asp-action="Create">Book a room!</a>
</button>



@*  <input type="hidden" name="BookingDate" value="@ViewBag.Booking.us" />

        @Html.Label("Text", "Message")
        <br />
        @Html.TextBox("Text", null, new {@class = "form-control"})
        <br />
        <button class="btn btn-success" type="submit">Send your review!</button>*@

<br />
<br />
<button id="edit">
    <a asp-action="Edit" asp-route-id="@ViewBag.Hotel.Id">Edit</a>
</button>
<button id="edit">
    <a asp-action="Index">Back to List</a>
</button>